<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Ultra Trivia</title>

    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Roboto:wght@300;400;500;700&family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">

    <!-- css stylesheet -->
    <link rel="stylesheet" href="css/end-game.css">
  </head>
  <body>

    <div class="container">
      <h1 id="name">Your name</h1>

        <div class="score">
          <h2>Final score</h2>
          <h2 id="final-score">800</h2>
        </div>

        <div class="results">
          <div class="right">
            <h2>Right answers</h2>
            <h2 id="correct-answers">12</h2>
          </div>

          <div class="time">
            <h2>Time</h2>
            <h2 id="final-time">540 sec</h2>
          </div>

          <div class="wrong">
            <h2>Wrong answers</h2>
            <h2 id="wrong-answers">8</h2>
          </div>
      </div>

      <button id="next-button" type="button" name="button">Next</button>
      <a id="home-link" href="/"></a>
    </div>

    <script src="js/end-game.js" charset="utf-8"></script>
  </body>
</html>
