<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Ultra Trivia</title>

  <meta content="width=device-width, initial-scale=1" name="viewport" />

  <!-- Google fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Roboto:wght@300;400;500;700&family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">

  <!-- css stylesheet -->
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>


  <div class="container">
    <h1 class="home-title">ULTRA TRIVIA</h1>

    <p></p>

    <form class="" action="/" method="post">
      <div class="username">
        <p class="name-text">Enter your name:</p>
        <input id="name" type="text" name="" value="">
        <small></small>
        <p>Choose a category:</p>
        <select class="category-menu" name="category">
          <option value="9">General</option>
          <option value="10">Books</option>
          <option value="11">Films</option>
          <option value="12">Music</option>
          <option value="13">Musicals & Theatres</option>
          <option value="14">Television</option>
          <option value="15">Video Games</option>
          <option value="16">Board Games</option>
          <option value="17">Science & Nature</option>
          <option value="18">Science: Computers</option>
          <option value="19">Science: Mathematics</option>
          <option value="20">Mythology</option>
          <option value="21">Sports</option>
          <option value="22">Geography</option>
          <option value="23">History</option>
          <option value="24">Politics</option>
          <option value="25">Art</option>
          <option value="26">Celebrities</option>
          <option value="27">Animals</option>
          <option value="28">Vehicles</option>
          <option value="29">Comics</option>
          <option value="30">Gadgets</option>
          <option value="31">Japanese Anime & Manga</option>
          <option value="32">Cartoon & Animations</option>
        </select>
        <button id="start" type="submit" name="button">START</button>
      </div>
    </form>

    <a href="/score" class="score">See Score</a>
  </div>

  <script src="js/index.js" charset="utf-8"></script>
</body>

</html>
